<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Johan Brook</string>
	<key>CFBundleDisplayName</key>
	<string>Spotify</string>
	<key>CFBundleIdentifier</key>
	<string>com.johanbrook.spotify</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.01</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>bar.html</string>
				<key>Identifier</key>
				<string>bar</string>
				<key>Label</key>
				<string>Spotify</string>
			</dict>
		</array>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>spotify-track</string>
				<key>Title</key>
				<string>Open track in Spotify</string>
			</dict>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>spotify-artist</string>
				<key>Title</key>
				<string>Open artist in Spotify</string>
			</dict>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>spotify-lookup</string>
				<key>Title</key>
				<string>Show track info</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>View tracks and artists in Spotify with one click in your browser</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://johanbrook.com/safari/update.plist</string>
	<key>Website</key>
	<string>http://johanbrook.com/safari</string>
</dict>
</plist>
